/* Advertisement.css */
.ad-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    /* Center vertically */
    overflow: auto;
    z-index: 1000; /* Ensure it's on top of other content */
}

.ad-container {
    position: relative;
    background: transparent; 
    padding: 2rem; /* Adjust padding as needed */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    padding-bottom: none;
}

.ad-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.ad-image {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.button_container {
    width: 100%;
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    margin-top: 2rem; /* Add space above the button */
    padding-bottom: 2rem;
}

.square-button {
    display: block;
    width: 220px; /* Adjust size as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #2563eb; /* Blue color */
    color: #ffffff; /* White text */
    text-align: center;
    line-height: 50px; /* Center text vertically */
    border: 2px solid #000000; /* Black border on all sides */
    border-top: none; /* Remove top border */
    border-left: none; /* Remove left border */
    text-decoration: none; /* Remove underline from the link */
    font-size: 24px;
    font-weight: bold;
    
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.square-button:hover {
    background-color: #1037a4; /* Darker blue on hover */
}

.square-button:active {
    background-color: #1d4ed8; /* Even darker blue when clicked */
}
